body {
    font-family: sans-serif;
    background-color:white;
    
}

/* #hero {
   background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  color: black;
} */

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.add-to-cart {
    width: 100%;
}

.dropdown-menu {
  padding: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-details {
  flex-grow: 1;
  margin-right: 10px;
}

.cart-item-actions {
  display: flex;
  gap: 5px;
}

.cart-item-quantity {
  /* width: 40px; */
  text-align: center;
}
.btn-coffee {
    background-color: #0284c7; 
    color: white; 
    border: none; 
}

.btn-coffee:hover {
    background-color: #5a3e2d; 
    color: white;
}


/* Responsive Design */
@media (max-width: 768px) {
  .contact-heading {
    font-size: 2rem;
  }

  .contact-subheading {
    font-size: 1.25rem;
  }
}


/* Receipt styles */
@media print {
    body {
        font-size: 12pt;
    }
    .card {
        border: none;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        cursor: pointer;
    }
    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table th {
        background-color: #f2f2f2;
    }
}

.navbar{
background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

 